$xx-small-size: 320px;
$x-small-size: 465px;
$extra-small-size: 550px;
$small-size: 650px;
$medium-small-size: 735px;
$medium-size: 875px;
$big-size: 1024px;
$extra-big-size: 1440px;
$min-width: $xx-small-size;
$medium-width: $big-size;
$max-width: $extra-big-size;